<div mat-dialog-content>
    <h3><strong>TRAZABILIDAD DE LA SOLICITUD: {{data[0].codSolicitud}}</strong></h3>
    <h5> TIPO: {{data[0].descTipoGoce | uppercase}}</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th class="text-center">FECHA DE REGISTRO</th>
            <th>ESTADO DE LA SOLICITUD </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="text-center">{{ d.fechaRegistro }}</td>
            <td >{{ d.desEstado }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <div mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="primary">Cerrar</button>
    </div>
  </div>
  