<div mat-dialog-content>
    <h3 class="text-center"><strong>TRAZABILIDAD DE LA SOLICITUD: {{test}}</strong></h3>
    <h4> TIPO: {{data[0].descTipoGoce | uppercase}}</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>FECHA</th>
            <th>USUARIO</th>
            <th>ESTADO</th>
            <th>SOLICITUD</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ d.fechaRegistro }}</td>
            <td>{{ d.usuario}}</td>
            <td >{{ d.desEstado }}</td>
            <td >{{ d.codSolicitud }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <div mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="primary">Cerrar</button>
    </div>
  </div>
  