<mat-dialog-content>
    <button class="close-button" mat-dialog-close [autofocus]="false">
        <mat-icon>close</mat-icon>
    </button>
    <div class="card border-0">
        <div class="card-body">
            <div class="row text-center">
                <mat-icon class="material-icons-outlined class-icon">{{alert.icon}}</mat-icon>
            </div>
            <div class="row mt-xs-1 text-center">
                <b>{{alert.title}}</b>
            </div>
            <div class="row mt-xs-1 text-center">
                {{alert.message}}
            </div>
        </div>
    </div>
</mat-dialog-content>