<mat-dialog-content>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn-close" aria-label="Close" mat-dialog-close [autofocus]="false"></button>
    </div>
    <div class="card border-0">
        <div class="card-body">
            <div class="row text-center">
                <mat-icon class="material-icons-outlined class-icon">{{alert.icon}}</mat-icon>
            </div>
            <div class="row mt-xs-1 text-center">
                <b>{{alert.title}}</b>
            </div>
            <div class="row mt-xs-1 mt-lg-3 text-center">
                {{alert.message}}
            </div>
        </div>
    </div>
</mat-dialog-content>