span {font-weight:bold;}
mat-form-field {
  width: 100% !important;
}
.info-icon {
  color: rgb(69, 41, 252);
}

.contenedor::-webkit-scrollbar {
  width: 5px;
}
.contenedor::-webkit-scrollbar-thumb {
  background: #3a47fc;
  border-radius: 5px;
}

.my-custom-cell {
    align-items: center !important;
    text-align: center !important;
  }

  @media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }