<div mat-dialog-content>
  <ng-container *ngIf="spinner; else table">
    <div class="row d-flex justify-content-center text-center">
      <mat-spinner [diameter]="70"></mat-spinner>
    </div>
  </ng-container>
  <ng-template #table>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Periodo</th>
          <th>Saldo</th>
          <th class="text-center">Fecha Vencimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saldo of saldos.listaPlazozVacacionales; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            {{ saldo.descPeriodo }}
          </td>
          <td>{{ saldo.saldo }}</td>
          <td class="text-center">{{ saldo.fecVencimiento }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
<div fxLayout="row" fxLayoutAlign="end center" *ngIf="!spinner">
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">Cerrar</button>
  </div>
</div>
