<div fxLayout="row" [ngStyle.lt-lg]="{'margin-top': '15vh'}">
    <div class="shape" fxFlexOffset.gt-md="72%" fxFlexOffset.lt-lg="calc(50% - 9rem)"  [ngStyle]="{'margin-top': '10px'}">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="m-3">
          
        <mat-toolbar class="text-center header-color">
            <span class="fill-remaining-space"><strong>OSINERGMIN</strong></span>
          </mat-toolbar>
          
          <div class="container" [ngStyle]="{'margin-top': '20px'}" > 
            <form [formGroup]="formGroup" (ngSubmit)="goVacation()" class="form">
              
              <mat-form-field class="form-element">
                <input type="number" matInput placeholder="Número de Documento" formControlName="documento">
                <mat-error *ngIf="!formGroup.controls['documento'].valid && formGroup.controls['documento'].touched">
                  {{ getErrorDocument() }}
                </mat-error>
              </mat-form-field>
          
              <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Ingresar</button>
              </div>
          
            </form>
          </div>
      </div>
    </div>
  </div>
<div fxLayout="row">
    <div class="shape" fxFlexOffset.gt-md="72%" fxFlexOffset.lt-lg="calc(50% - 9rem)"  [ngStyle]="{'margin-top': '10px'}">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="m-3">
          

          
          <div class="container" [ngStyle]="{'margin-top': '20px'}" > 
            <form class="form">
              
              <div class="form-element">
                <button mat-raised-button color="primary" type="button" class="button" (click)="actualizar()">Actualizar Saldos</button>
              </div>
              <div class="form-element">
                <button mat-raised-button color="primary" type="button" class="button" (click)="goUser()">Usuarios</button>
              </div>
              <div class="form-element">
                <button mat-raised-button color="primary" type="button" class="button" (click)="goPeriod()">Periodos</button>
              </div>
              <div class="form-element">
                <button mat-raised-button color="primary" type="button" class="button" (click)="openModalExcel()">Carga de saldos</button>
              </div>
          
            </form>
          </div>
      </div>
    </div>
  </div>