<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" [routerLinkActive]="['active']">
        <a [routerLink]="['']" (click)="goBandeja()">Bandeja</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Registrar Vacaciones
      </li>
    </ol>
  </nav>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Registrar Solicitud de Vacaciones - Goce Efectivo">
      <mat-card [ngStyle]="{ 'margin-bottom': '20px', 'margin-top': '20px' }">
        <div
          fxLayout="row"
          fxLayoutGap="25px"
          fxLayout.xs="column"
          [ngStyle]="{ 'margin-bottom': '20px', 'margin-top': '20px' }"
        >
          <div fxFlex="50">
            <mat-form-field appearance="legacy">
              <mat-label>Código de la solicitud</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="registro.codigoSolicitud"
                readonly
              />
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field appearance="legacy">
              <mat-label>Nombre del solicitante</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="registro.nombres"
                readonly
              />
            </mat-form-field>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutGap="25px"
          fxLayout.xs="column"
          [ngStyle]="{ 'margin-bottom': '20px', 'margin-top': '20px' }"
        >
          <div fxFlex="50">
            <mat-form-field class="example-full-width" appearance="legacy">
              <mat-label>Fecha Inicio de Vacaciones</mat-label>
              <input matInput readonly [matDatepicker]="picker" [min]="today" [(ngModel)]="fechaInicio" />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle 
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field appearance="legacy">
              <mat-label>Días solicitados</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="diasSolicitados"
                (ngModelChange)="calcularDias()"
                min="0"
                oninput="validity.valid||(value='');"
              />
            </mat-form-field>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutGap="25px"
          fxLayout.xs="column"
          [ngStyle]="{ 'margin-bottom': '20px', 'margin-top': '20px' }"
        >
          <div fxFlex="50">
            <mat-form-field class="example-full-width" appearance="legacy">
              <mat-label>Fecha Fin de Vacaciones</mat-label>
              <input matInput readonly [matDatepicker]="picker1" [(ngModel)]="fechaFin" />
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle disabled
                matSuffix
                [for]="picker1"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field appearance="legacy">
              <mat-label>Persona que reemplazará/apoyo</mat-label>
              <input
                matInput
                aria-label="State"
                [matAutocomplete]="auto"
                [formControl]="reemplazoCtrl"
                [(ngModel)]="reemplazoValue"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let state of filteredReemplazo | async"
                  [value]="state.nombres"
                >
                  <span>{{ state.nombres }}</span>
                </mat-option>
              </mat-autocomplete>
              <button type="button" mat-button *ngIf="reemplazoValue" matSuffix mat-icon-button aria-label="Clear" (click)="reemplazoValue = ''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div
          fxLayout="row"
          fxLayoutGap="25px"
          fxLayout.xs="column"
          [ngStyle]="{ 'margin-bottom': '20px', 'margin-top': '20px' }"
        >
          <div fxFlex="50">
            <mat-form-field appearance="legacy">
              <mat-label>Persona que aprobará la solicitud</mat-label>
              <input
                matInput
                aria-label="State"
                [matAutocomplete]="auto"
                [formControl]="aprobadoCtrl"
                [(ngModel)]="aprobadoValue"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let state of filteredAprobado| async"
                  [value]="state.nombres"
                >
                  <span>{{ state.nombres }}</span>
                </mat-option>
              </mat-autocomplete>
              <button type="button" mat-button *ngIf="aprobadoValue" matSuffix mat-icon-button aria-label="Clear" (click)="aprobadoValue = ''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column">
          <button
            mat-raised-button
            color="primary"
            [ngStyle]="{ margin: '5px' }"
          >
            Registrar Solicitud
          </button>
          <button
            mat-raised-button
            [ngStyle]="{ margin: '5px' }"
            (click)="goBandeja()"
          >
            Cancelar
          </button>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
{{reemplazoValue}}